{% extends "base.html" %}

{% block content %}
<h1>Pesquisar Cidades</h1>
<form method="post" action="{% url 'city_search' %}">
	{% csrf_token %}
	{{form.as_p}}
	<button type="submit">Pesquisar</button>
</form>

{% if results %}
	{% if results.count > 0 %}
	<h2>Resultados da pesquisa:</h2>
	<ul>
		{% for city in results %}
		<li>{{ city.name }} - {{ city.state.name }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endif %}

{% if results.count < 1 %}
<h2>Nenhum resultado encontrado</h2>
{% endif %}

{% endblock %}
