{% extends "base.html" %}

{% block content %}
<h1>Pesquisar Cidades</h1>
<form method="post" action="{% url 'city_search' %}">
	{% csrf_token %}
	{{form.as_table}}
	<button type="submit">Pesquisar</button>
</form>

{% if page_obj %}
	{% if page_obj.object_list|length > 0 %}
		<h2>Resultados da pesquisa:</h2>
		<ul class="city-list">
			{% for city in page_obj %}
				<li>{{ city.name }} - {{ city.state.slug }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Nenhum resultado encontrado.</p>
	{% endif %}

{% if page_obj.has_other_pages %}
<div>
	<nav class="pagination">
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
		{% endif %}
		<span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Próxima &raquo;</a>
		{% endif %}
	</nav>
</div>
{% endif %}
{% endif %}
{% endblock %}
