{% extends "base.html" %}

{% block content %}
<h1>Lista de Cidades</h1>
<ul class ="city-list">
	{% for city in object_list %}
	<li>{{ city.name }} - {{ city.state.slug }}</li>
	{% empty %}
	<li>Não há cidades para mostrar.</li>
	{% endfor %}
</ul>

{% if page_obj.has_other_pages %}
<div >
	<nav class="pagination">
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
		{% endif %}

		<span>
			Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Próxima &raquo;</a>
		{% endif %}
	</nav>
</div>
{% endif %}
{% endblock %}
