{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Lista de Cidades</h1>
<ul class ="city-list">
	{% for city in object_list %}
	<li style ="list-style: none;">{{ city.name }} - {{ city.state.slug }}</li>
	{% empty %}
	<li>Não há cidades para mostrar.</li>
	{% endfor %}
</ul>

{% if page_obj.has_other_pages %}
<div >
	<span style="width: 100%; display: flex; justify-content: center;">
		{% if page_obj.has_previous %}

		<a style ="color: whitesmoke; text-decoration: none;" 
			href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
		{% endif %}

		<span style="margin: 0 20px 0 20px;">
			Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
		</span>
		<a style ="color: whitesmoke; text-decoration: none;" 
			href="?page={{ page_obj.next_page_number }}">Próxima &raquo;</a>
	</span>
</div>
{% endif %}
{% endblock %}
